@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;700&display=swap');

@layer base {
    @font-face {
        font-family : "SpaceMono";
        src: url("src/assets/fonts/spacemono/spacemono/SpaceMono-Regular.ttf") format('truetype') ;
    }
    @font-face {
        font-family : "SpaceMono Bold";
        src: url("src/assets/fonts/spacemono/spacemono/SpaceMono-Bold.ttf") format('truetype');
    }
    * {
        @apply font-body
    }
    h1 {
        @apply font-heading
    }
    h2 {
        @apply font-heading uppercase text-3xl
       
    }
    button {
        @apply text-neutral-950 uppercase text-xs border border-neutral-950 px-8 py-2 rounded-3xl font-bold
    }
    h4  {
        @apply uppercase text-xl  before:mr-2 before:content-['●']
    }
}